@import "../../styles//variables.scss";

.Details {
  padding: 15rem 0;

  &_title {
    font-size: 3rem;
    text-align: center;
  }

  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &_row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_rowLeft {
    flex: 1;
    width: 50%;

    @media screen and (max-width: $medium) {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
  &_content {
    margin-top: 9rem;
    max-width: 50rem;

    @media screen and (max-width: $small) {
      text-align: center;
    }
  }
  &_subtitle {
    font-size: 2.2rem;
    margin-bottom: 4rem;
  }
  &_desc {
    max-width: 50rem;
    line-height: 1.6;

    @media screen and (max-width: $medium) {
      max-width: 70rem;
    }
  }
  &_rowRight {
    flex: 0.5;
    width: 50%;
    overflow-x: hidden;
  }
  &_image {
    width: 100%;
    background-size: 120%;
  }
}

.start {
  flex-direction: row-reverse;

  @media screen and (max-width: $medium) {
    flex-direction: column-reverse;
  }
}
.end {
  flex-direction: row;

  @media screen and (max-width: $medium) {
    flex-direction: column-reverse;
  }
}

.imgStart {
  justify-self: flex-start;
}
.imgEnd {
  justify-self: flex-end;
}
