// PRIMARY COLORS
$lightRed: hsl(356, 100%, 66%); // cta text
$veryLightRed: hsl(355, 100%, 74%); // cta hover bg
$veryDarkBlue: hsl(208, 49%, 24%); // very dark blue

// NEUTRAL
$white: hsl(0, 0%, 100%); //text
$grayishBlue: hsl(240, 2%, 79%); // footer text
$veryDarkGrayishBlue: hsl(207, 13%, 34%); // body copy
$veryDarkBlackBlue: hsl(240, 10%, 16%); // footer bg

// GRADIENT
$gradientVeryLightRed: hsl(13, 100%, 72%);
$gradientLightRed: hsl(353, 100%, 62%);

// BACKGROUND GRADIENT - BODY
$gradientVDarkGrayBlue: hsl(237, 17%, 21%);
$gradientVDesBlue: hsl(237, 23%, 32%);

// fonts

$fontOverpass: "Overpass", sans-serif;

$fontUbuntu: "Ubuntu", sans-serif;

$xsmall: 360px; // 360px
$small: 480px; // 480px
$medium: 960px; // 960px
