@import "../../styles/variables.scss";

.Header {
  background-image: url("../../images/bg-pattern-intro.svg"),
    linear-gradient(to right, $gradientVeryLightRed, $gradientLightRed);
  height: 60rem;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 100%;
  border-bottom-left-radius: 10rem;

  &_showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14rem;

    @media screen and (max-width: $small) {
      margin-top: 5rem;
    }
  }
}
