@import "../../styles/variables.scss";

.Showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $white;

  &_title {
    font-size: 5rem;
    text-align: center;
  }

  &_subtitle {
    margin-top: 2.5rem;
  }

  &_buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5rem;

    & > button {
      margin: 1rem 1.5rem;
    }
  }
}
