@import "../../styles/variables.scss";

.Showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $white;

  &_title {
    font-size: 5rem;
  }

  &_subtitle {
    margin-top: 2.5rem;
  }

  &_buttonContainer {
    margin-top: 5rem;

    & > button {
      margin: 0 1.5rem;
    }
  }
}
